p{
	width: 300px;
}

.hide{
	height: 0px;
	overflow: hidden;
}

.b2{
	background: #ffff00;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 5px 5px 5px #000000;
	/* 왼쪽에서 퍼지는 크기, 위쪽에서 퍼지는 크기, 그림자가 퍼지는 크기, 색상 */
	width: 100px;
	font-size: 0.9em;
}
