*{
	margin: 0;
	padding: 0;
}

body{
	height: 3000px;
	font-size: 12px;
}

p{
	text-align: justify;
	font-family: "����", "Dotum di", "����", Batang;
	font-size: 2em;
	font-style: normal;
}

p{
	width: 113px;
	height: 96px;
	background: url(img/m2.jpg) left top no-repeat;
	text-indent: -9999px;
	/* 들여쓰기를 마이너스로 해서 안 보이는 영역으로 보내버림(시각장애인들에게 사진 설명을 하기 위함) */
}
